<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <!-- changes from the defaults -->
    <setting name="cacheEnabled" value="false" />
    <setting name="lazyLoadingEnabled" value="false" />
  </settings>
  <typeAliases>
    <!-- use package to scan all classes annotated with @Aliase -->
    <package name="com.tt.sabamiso"/> 
    <!--<typeAlias type="com.tt.sabamiso.user.domain.User" alias="user" />-->
  </typeAliases>
</configuration>
